.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.picker {
  width: 8em;
  height: 2em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.5em;
  background-color: white;
}

.option{
  font-size: 1em;
}

.color {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
