.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 20em;
}
.clock > h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 4em;
}

.clock > h3 {
  font-size: 2em;
}
